body {
    padding-top: 0;
    padding-bottom: 0;
}

.body-content {
    padding-left: 0;
    padding-right: 0;
}

input, select, textarea {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
